
@media(min-width:px){

    

}


@media(min-width:576px){

    .right-colum .fa{
    font-size: 2rem !important;
}
.int{
    margin-top:  -7px;
   
}
}

@media(min-width:768px){
    
    .hobies{
    padding-top: 30px;
}

    .cover-letter{
        font-size: 20px;
    }
    .cover-letter p:last-of-type{
    font-size: 30px;
}
.fa-paper-plane{
      display: block;
    }
}




@media(min-width:992px){
    .skills-pad{
        padding-left: 0 !important;
    }


}

@media(min-width:1200px){



}